@using Entities
@model Register
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="mb-3">
        <label class="form-label">Adı</label>
        <input type="text" class="form-control" asp-for="@Model.FirstName">
    </div>
    <div class="mb-3">
        <label class="form-label">Soyadı</label>
        <input type="text" class="form-control" asp-for="@Model.LastName">
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>
